@import "../colors.css";
@import "../common.css";

#review {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topBar {
    display: flex;
    justify-content: left;
    margin: 1rem;
}

#topBar .btn {
    padding: 0.5rem;
    font-size: 0.8rem;
}

#bottomBar {
    width: 80%;
    display: flex;
    margin: 0.25rem 0;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#bottomBar .btn {
    flex: 1;
    height: 3rem;
    font-size: 0.9rem;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
    }
}

#cardWrapper {
    animation: popIn 0.2s ease-in forwards;
    transform-origin: center;
}

.btnLerp1:hover {
    /* Hardest / Primary */
    background-color: #7C3AED; /* A deeper purple */
}

.btnLerp2:hover {
    background-color: #6A44EC; /* Moving towards blue-purple */
}

.btnLerp3:hover {
    background-color: #485BE7; /* More blue than purple */
}

.btnLerp4:hover {
    /* Easiest / Secondary */
    background-color: #3B82F6; /* A clear blue */
}

.question {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid var(--color-border);
}
