/* common.css: General styles that should exist across components */
@import "./colors.css";

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    border-color: transparent;
    border-radius: 1rem;
    text-decoration: none;
    transition: background ease 0.2s, opacity ease 0.1s;
}

.btn:hover {
    background-color: var(--color-bg-lighter);
    cursor: pointer;
}

.btnSecondaryBg {
    background-color: var(--color-secondary-bg);
    color: var(--color-text);
}

.btnOutline {
    border: 2px solid var(--color-border);
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background ease 0.3s, border ease 0.3s;
}
.btnOutline:hover {
    background-color: var(--color-primary);
    opacity: 1;
    border-color: var(--color-muted);
}

.btnPrimary {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.btnPrimaryGrad {
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    background-origin: border-box;
    color: var(--color-text);
}
.btnPrimaryGrad:hover {
    opacity: 0.8;
}

.iconBtn {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    font-family: "Segoe UI Symbol, Noto Emoji, sans-serif",
}

.wFull {
    width: 100%;
}
